In [1]:
#import statements
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
print('best')

best

In [3]:
df.shape

(506, 14)

In [4]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [5]:
data = df.dropna(axis=0)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
data.RM.describe()

count    501.000000
mean       6.284341
std        0.705587
min        3.561000
25%        5.884000
50%        6.208000
75%        6.625000
max        8.780000
Name: RM, dtype: float64

In [7]:
corr = data.corr()
corr['MEDV'].sort_values(ascending=False)

MEDV       1.000000
RM         0.696169
ZN         0.360031
B          0.335387
DIS        0.251709
CHAS       0.174679
AGE       -0.375437
RAD       -0.384730
CRIM      -0.390251
NOX       -0.428812
TAX       -0.471253
INDUS     -0.486625
PTRATIO   -0.511897
LSTAT     -0.737720
Name: MEDV, dtype: float64

In [8]:
#select X and y for model
y = data.MEDV

features = ['ZN', 'CHAS', 'RM', 'DIS', 'B']
X = data[features]

In [9]:
y.head(5)

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [10]:
X.head(5)

     ZN  CHAS     RM     DIS       B
0  18.0     0  6.575  4.0900  396.90
1   0.0     0  6.421  4.9671  396.90
2   0.0     0  7.185  4.9671  392.83
3   0.0     0  6.998  6.0622  394.63
4   0.0     0  7.147  6.0622  396.90

In [11]:
#model building
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=42)

model.fit(X, y)

DecisionTreeRegressor(random_state=42)

In [12]:
from sklearn.metrics import mean_absolute_error

prediction = model.predict(X)
mean_absolute_error(y, prediction)

0.0

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

model = DecisionTreeRegressor(random_state=42, max_depth=5)

model.fit(X_train, y_train)

d_prediction = model.predict(X_test)
print(mean_absolute_error(y_test, d_prediction))

3.647011225432744

In [14]:
#4.280952380952381
#4.288731277861713
#3.647011225432744

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42)

model.fit(X_train, y_train)

r_prediction = model.predict(X_test)
print(mean_absolute_error(y_test, r_prediction))

3.21954761904762